a {
  margin-left: 8%;
}

body {
  background-color: #57f7fa;
  margin: 5%;
}

button {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  font-size: xx-large !important;
}

.card {
  text-align: center;
  border-radius: 10%;
}

.card-text {
  text-align: left;
}

.card-gallery {
  display: flex;
}

.img-row {
  margin-top: 50%;
}
.modal-body {
  text-align: left;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  color: #3274fe;
}
