body {
  background-color: #57f7fa;
  margin: 5%;
}

h1 {
  font-size: xx-large !important;
}

.card {
}
.card-gallery {
  display: flex;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  color: #3274fe;
}
