a {
  margin-left: 8%;
}

body {
  background-color: #57f7fa;
  margin: 5%;
}

button {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  font-size: 2vw;
}

p {
  font-size: max(2.25vw, 1.5em);
}
.card {
  text-align: center;
  margin-bottom: 10%;
}

.card-text {
  text-align: left;
}

/* .card-gallery {
  display: flex;
} */

.img-row {
  margin-top: 50%;
  margin-bottom: 10%;
}
.modal-body {
  text-align: left;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  color: #3274fe;
}

#closeButton {
  margin-left: auto;
}
